.highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlight::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 16%;
  width: 100%;
  height: 27%;
  background-color: var(--highlight-color-text);
  z-index: -1;
}

.icon {
  color: var(--main-color-icon);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 0;
  line-height: 1;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .icon:hover {
    color: var(--main-hover-icon);
  }
}