*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

:root {
  --light: #fff;
  --dark: hwb(0 0% 100%);
  --design-color: #4cf049;
  --main-color-text: var(--dark);
  --additional-color-text: var(--light);
  --highlight-color-text: var(--design-color);
  --text-underline-color: var(--design-color);
  --highlight-color-btn: rgb(76, 240, 73, 0.1);
  --main-bg-icon: var(--dark);
  --main-color-icon: var(--dark);
  --additional-color-icon: var(--light);
  --design-color-icon: var(--design-color);
  --main-hover-icon: var(--design-color);
  --main-bg: var(--light);
  --design-bg: rgb(76, 240, 73, 0.1);
  --main-link-hover: var(--design-color);
  --accordion-main-border: rgba(0, 0, 0, 0.11);
}

@font-face {
  font-family: "Gilroy";
  src: url(../assets/fonts/Gilroy-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../assets/fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlight::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 16%;
  width: 100%;
  height: 27%;
  background-color: var(--highlight-color-text);
  z-index: -1;
}

.icon {
  color: var(--main-color-icon);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 0;
  line-height: 1;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .icon:hover {
    color: var(--main-hover-icon);
  }
}

#vue-inspector-container {
  display: none !important;
}

#__vue-devtools-container__ {
  display: none !important;
}