@import 'reset.scss';
@import 'vars.scss';
@import 'mixins.scss';
@import 'fonts.scss';

body {
  font-family: 'Gilroy', sans-serif;
  font-size: toRem(18);
  font-weight: 300;
  line-height: 1.5;
  color: var(--main-color-text);
}
